/*body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; 
    padding: 20px;
}*/

h1 {
    text-align: center;
}
    

.titulo{
    color: #b22222;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1;
}

.tab-link {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
    
}

.tab-link.active {
    background-color: #a12020;
}

.caixa__texto{
    width: 35em;
    padding-right: 15px;
}

#descricao{
    resize: none;
}

.tab-content {
    display: none;
    max-width: 600px;
    margin: 0 auto;
    background: #ffe6e6; /* tom avermelhado claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #b22222; /* tom avermelhado */
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 10em;
    padding: 10px;
    background-color: #b22222; /* tom avermelhado */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
}

button:hover {
    background-color: #a12020; /* tom avermelhado mais escuro */
}

.info-adicional {
    color: #666; /* cinza escuro */
    margin-bottom: 10px;    
}

.botao__acao{
    margin-top: 10px;
    border-radius: 4px;
}
