<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:fragment="header-content" style="display: block;">
        <div class="d-flex flex-column flex-shrink-0 p-4 text-white bg-dark sticky-top">
            <nav class="navbar navbar-dark bg-dark fixed-top" >
                <style>
                   
                </style>
                <div class="container-fluid">
    
                    <ul class="nav">
                        <a class="navbar-brand" th:href="@{/}">
                            Página inicial
                        </a>

                        <li class="nav-item dropdown" style="list-style: none;">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle mb-1" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                            </svg>
                            <span class="textoSpanMinhaConta" th:text="'Olá, ' + ${nomeUsuarioOuAdministrador}">Carregando...</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" th:href="@{/minhaConta/logado}">Gerenciar minha conta</a></li>
                                <li><a class="dropdown-item" th:href="@{/sair}">Sair</a></li>
                            </ul>
                        </li>
    
                        <li class="nav-item" style="list-style: none;">
                            <a class="nav-link" th:href="@{/nova-acao-social}" role="button" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill mb-1" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                  </svg>
                                <span class="textoSpanGuiaDoSistema">Nova ação social</span>
                            </a>
                        </li>
    
                        <li class="nav-item" style="list-style: none;">
                            <a class="nav-link" th:href="@{/listar-todas-acoes-sociais}" role="button" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check mb-1" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
                                </svg>
                                <span class="textoSpanGuiaDoSistema">Todas ações sociais</span>
                            </a>
                        </li>

                        <li class="nav-item" style="list-style: none;" th:if="${emailAdministrador == 'www.lucasmello@gmail.com'}">
                            <a class="nav-link" th:href="@{/administradores}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill mb-1" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                  </svg>
                                Administradores
                            </a>
                        </li>
                        
                        
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="flex-grow-1" id="main-content" th:fragment="main-content">
        <div th:replace="~{::main-content}"></div>
    </main>

    <footer th:fragment="footer-content" class="bg-dark text-white mt-auto py-3">
        <div class="container">
            <ul class="nav justify-content-center border-bottom border-secondary pb-3 mb-3">
                <li class="nav-item ms-1 me-1"><a href="#" class="nav-link px-2 text-secondary">Início</a></li>
                <li class="nav-item ms-1 me-1"><a href="/guiaDoSistema/perguntas-mais-frequentes" class="nav-link px-2 text-secondary">FAQs</a></li>
                <li class="nav-item ms-1 me-1"><a href="/guiaDoSistema/ajuda" class="nav-link px-2 text-secondary">Sobre</a></li>
            </ul>
            <p class="text-center text-secondary">© 2024 Gerenciamento de Doações.</p>
        </div>
    </footer>
</body>
</html>